body{

}

#display{
  height: 400px;
}

img.logo{
  width: 40%;
}

nav{
  background-color: #283955;
}
footer{
  background-color: #283955;
}

h2.text-center{
  margin-top: 10px;
  margin-bottom: 10PX;
}

div.jumbotron{
  margin-top:30px;
  padding: 25px;
  border-radius:15px;
  width: 40%;
  float: center;
}
